html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
}

.column .list, .classic, .joint .module, .recommend .card, .footer .content {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #aa0601;
}

@media only screen and (max-width: 767px) {
  .header {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .ham-icon {
  display: none;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .header .ham-icon {
    display: block;
    top: initial;
    right: initial;
    bottom: initial;
    left: 5%;
    position: absolute;
  }
}

.header .logo {
  width: 80px;
  height: 49px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 88px;
}

@media only screen and (max-width: 992px) {
  .header .logo {
    margin-left: 48px;
  }
}

@media only screen and (max-width: 767px) {
  .header .logo {
    width: 48px;
    height: 30px;
    margin: 10px;
  }
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 88px;
  padding: 40px 0;
}

@media only screen and (max-width: 992px) {
  .header .nav {
    margin-right: 48px;
  }
}

@media only screen and (max-width: 767px) {
  .header .nav {
    top: 100%;
    right: initial;
    bottom: initial;
    left: initial;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0px;
    z-index: 1;
  }
}

.header .nav .list {
  background-color: #aa0601;
}

@media only screen and (max-width: 767px) {
  .header .nav .list {
    width: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.header .nav .list .menu {
  font-size: 20px;
  margin-left: 64px;
  color: #ffffff;
}

@media only screen and (max-width: 992px) {
  .header .nav .list .menu {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .header .nav .list .menu {
    margin-left: auto;
    text-align: center;
    border-top: 1px solid #ffffff;
    padding: 16px 0;
  }
}

.header .nav .active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header .nav .active:hover {
  background-color: #8f0400;
}

.banner {
  position: relative;
  width: initial;
  height: 840px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (max-width: 992px) {
  .banner {
    width: initial;
    height: 840px;
    background: url("https://upload.cc/i1/2020/04/25/jH0crS.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media only screen and (max-width: 576px) {
  .banner {
    width: initial;
    height: 394px;
    background: url("https://upload.cc/i1/2020/04/25/Z0h7q1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.banner .content {
  top: 40%;
  right: 18%;
  bottom: 50%;
  left: initial;
  position: absolute;
}

@media only screen and (max-width: 576px) {
  .banner .content {
    right: 5%;
  }
}

.banner .content .text {
  font-size: 36px;
  text-align: end;
  color: #650300;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .banner .content .text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .banner .content .text {
    font-size: 16px;
  }
}

.banner .content .title {
  font-size: 64px;
  color: #650300;
}

@media only screen and (max-width: 992px) {
  .banner .content .title {
    font-size: 48px;
  }
}

@media only screen and (max-width: 576px) {
  .banner .content .title {
    font-size: 32px;
  }
}

.column {
  background-color: #aa06010d;
  margin-bottom: 64px;
}

@media only screen and (max-width: 992px) {
  .column {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 576px) {
  .column {
    margin-bottom: 24px;
  }
}

.column .title {
  font-size: 48px;
  color: #650300;
  text-align: center;
  padding: 64px 0;
}

@media only screen and (max-width: 992px) {
  .column .title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .column .title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 992px) {
  .column .title {
    padding: 40px 0 32px 0;
  }
}

@media only screen and (max-width: 576px) {
  .column .title {
    padding: 32px 0;
  }
}

.column .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 80px;
}

@media only screen and (max-width: 992px) {
  .column .list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .column .list .order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .column .list .order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (max-width: 576px) {
  .column .list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.column .list .item {
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .column .list .item {
    width: 50%;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 576px) {
  .column .list .item {
    width: 100%;
    margin-bottom: 28px;
  }
}

.column .list .item .img {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 992px) {
  .column .list .item .img {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
  }
}

.column .list .item .item-title {
  font-size: 24px;
  color: #650300;
}

@media only screen and (max-width: 992px) {
  .column .list .item .item-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .column .list .item .item-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .column .list .item .item-title {
    margin-bottom: 8px;
  }
}

.column .list .item .text {
  text-align: justify;
  display: inline-block;
  width: 208px;
}

.classic {
  margin-bottom: 80px;
}

.classic .title {
  font-size: 48px;
  color: #650300;
  text-align: center;
  margin-bottom: 60px;
}

@media only screen and (max-width: 992px) {
  .classic .title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .classic .title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 992px) {
  .classic .title {
    margin-bottom: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .classic .title {
    margin-bottom: 16px;
  }
}

.classic .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

@media only screen and (max-width: 992px) {
  .classic .item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 767px) {
  .classic .item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 12px;
  }
}

.classic .item .img {
  width: 60%;
}

@media only screen and (max-width: 992px) {
  .classic .item .img {
    width: 50%;
  }
}

@media only screen and (max-width: 992px) and (max-width: 767px) {
  .classic .item .img {
    width: 100%;
    position: relative;
  }
}

.classic .item .img-icon {
  margin: 0 8px 0 24px;
}

@media only screen and (max-width: 992px) {
  .classic .item .img-icon {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .classic .item .img-icon {
    color: #ffffff;
    display: none;
  }
}

.classic .item .item-content {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .classic .item .item-content {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
  }
}

@media only screen and (max-width: 767px) {
  .classic .item .icon-optical {
    width: 32px;
    height: 25px;
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/9af042262fc422f07175ee3ee88a7d1cf415a0a0/week3/icon-diamond-white.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 8px;
  }
}

@media only screen and (max-width: 767px) {
  .classic .item .icon-functional {
    width: 23px;
    height: 32px;
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/9af042262fc422f07175ee3ee88a7d1cf415a0a0/week3/icon-thunder-white.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 5px 8px;
  }
}

.classic .item-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 992px) {
  .classic .item-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.classic .item-reverse .img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.classic .item-reverse .img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.classic .item-reverse .content-reverse {
  width: 30%;
  margin-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 992px) {
  .classic .item-reverse .content-reverse {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .classic .item-reverse .content-reverse {
    width: 100%;
    position: absolute;
  }
}

@media only screen and (max-width: 767px) {
  .classic .item-reverse .content-reverse .icon-sunglasses {
    width: 32px;
    height: 32px;
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/9af042262fc422f07175ee3ee88a7d1cf415a0a0/week3/icon-sun-white.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 8px;
  }
}

.classic .text {
  font-size: 48px;
  color: #aa0601;
  margin-right: 24px;
  line-height: normal;
  display: block;
}

@media only screen and (max-width: 992px) {
  .classic .text {
    font-size: 28px;
  }
}

@media only screen and (max-width: 576px) {
  .classic .text {
    font-size: 28px;
  }
}

@media only screen and (max-width: 767px) {
  .classic .text {
    color: #ffffff;
  }
}

.joint {
  width: initial;
  height: initial;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.joint .joint-title {
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  padding: 64px 0 60px 0;
}

@media only screen and (max-width: 992px) {
  .joint .joint-title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .joint .joint-title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 992px) {
  .joint .joint-title {
    padding: 40px 0 32px 0;
  }
}

@media only screen and (max-width: 576px) {
  .joint .joint-title {
    padding: 24px 0 16px 0;
  }
}

.joint .img-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 48px 60px;
}

@media only screen and (max-width: 992px) {
  .joint .img-main {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 576px) {
  .joint .img-main {
    margin: 0 24px 20px;
  }
}

.joint .img-main .img-right {
  margin-left: 8px;
}

.joint .img-main .img-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.joint .img-main .btn {
  max-width: 818px;
  position: relative;
}

.joint .img-main .img-more {
  width: 32%;
  position: absolute;
  right: 10%;
}

@media only screen and (max-width: 992px) {
  .joint .img-main .img-more {
    right: 15%;
  }
}

.joint .img-main .more {
  width: 30%;
}

.joint .img-main .more a {
  font-size: 72px;
  font-weight: bold;
  background-color: #ffffff;
  color: #aa0601;
  padding: 5px 80px 5px 30px;
  position: absolute;
  right: 0;
  top: 25px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 992px) {
  .joint .img-main .more a {
    font-size: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .joint .img-main .more a {
    font-size: 32px;
  }
}

.joint .img-main .more a:hover {
  text-shadow: 0 -80px 0 #aa0701dc, 0 -150px 0 #aa070177;
}

@media only screen and (max-width: 992px) {
  .joint .img-main .more a {
    padding: 5px 50px 5px 20px;
    top: 20px;
    right: 10%;
  }
  .joint .img-main .more a:hover {
    text-shadow: 0 -40px 0 #aa0701dc, 0 -80px 0 #aa070177;
  }
}

@media only screen and (max-width: 576px) {
  .joint .img-main .more a {
    font-size: 14px;
  }
  .joint .img-main .more a:hover {
    text-shadow: 0 -20px 0 #aa0701dc, 0 -40px 0 #aa070177;
  }
}

.joint .img-main .more a img {
  position: absolute;
  display: block;
  top: 30%;
  right: 10%;
  -webkit-transition: 1s;
  transition: 1s;
}

.joint .img-main .more a img:hover {
  right: 0;
}

@media only screen and (max-width: 992px) {
  .joint .img-main .more a img {
    widows: 27px;
    height: 27px;
  }
}

@media only screen and (max-width: 767px) {
  .joint .img-main .more a img {
    width: 18px;
    height: 18px;
  }
}

.joint .module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 480px;
}

@media only screen and (max-width: 992px) {
  .joint .module {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 400px;
  }
}

@media only screen and (max-width: 576px) {
  .joint .module {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.joint .module .module-title {
  font-size: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #aa0601;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 992px) {
  .joint .module .module-title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .joint .module .module-title {
    font-size: 32px;
  }
}

.joint .module .img-dobule {
  width: 585px;
  height: 592px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-8.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 30px;
}

@media only screen and (max-width: 992px) {
  .joint .module .img-dobule {
    width: 322px;
    height: 280px;
  }
}

@media only screen and (max-width: 576px) {
  .joint .module .img-dobule {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.joint .module .img-youth {
  width: 585px;
  height: 592px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-9.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (max-width: 992px) {
  .joint .module .img-youth {
    width: 322px;
    height: 280px;
  }
}

.recommend {
  margin-top: -300px;
}

@media only screen and (max-width: 992px) {
  .recommend {
    margin-top: -350px;
  }
}

@media only screen and (max-width: 576px) {
  .recommend {
    margin-top: -380px;
  }
}

.recommend .recommend-title {
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 60px;
}

@media only screen and (max-width: 992px) {
  .recommend .recommend-title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .recommend .recommend-title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 992px) {
  .recommend .recommend-title {
    margin-bottom: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .recommend .recommend-title {
    margin-bottom: 16px;
  }
}

.recommend .card {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 992px) {
  .recommend .card {
    margin: 0 40px;
  }
}

@media only screen and (max-width: 576px) {
  .recommend .card {
    margin: 0 12px;
  }
}

.recommend .card .list {
  width: 23%;
}

@media only screen and (max-width: 992px) {
  .recommend .card .list {
    width: 48%;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 576px) {
  .recommend .card .list {
    width: 100%;
  }
}

.recommend .card .border {
  border: 1px solid #dee2e6;
  background-color: #ffffff;
  padding: 16px;
}

.recommend .card .text {
  padding-bottom: 16px;
}

.recommend .card .text-title {
  font-weight: 500;
}

.recommend .card .text-gray {
  color: #707070;
}

.recommend .card .img {
  border: 0;
  display: block;
}

@media only screen and (max-width: 992px) {
  .recommend .card .img {
    width: 100%;
  }
}

.contact {
  background-color: #aa06010d;
}

.contact .content {
  max-width: 792px;
  margin: 0 auto;
  padding: 64px 0 92px;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .contact .content {
    max-width: 498px;
    padding: 40px 0 56px;
  }
}

@media only screen and (max-width: 576px) {
  .contact .content {
    margin: 0 24px;
    padding: 24px 0 48px;
  }
}

.contact .title {
  font-size: 48px;
  text-align: center;
  padding-bottom: 24px;
}

@media only screen and (max-width: 992px) {
  .contact .title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .contact .title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 992px) {
  .contact .title {
    padding-bottom: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .contact .title {
    padding-bottom: 8px;
  }
}

.contact p {
  font-size: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 992px) {
  .contact p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .contact p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .contact p {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .contact p {
    margin-bottom: 8px;
  }
}

.contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .text {
  padding: 14px 16px;
  margin-bottom: 16px;
  background-color: transparent;
  border: 1px solid #000;
}

@media only screen and (max-width: 992px) {
  .contact .text {
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .contact .text {
    padding: 7px 12px;
  }
}

.contact .checkbox {
  outline: 2px solid #000;
}

.contact .submit {
  width: 180px;
  height: 54px;
  display: block;
  margin: auto;
  background-color: #aa0601;
  color: #ffffff;
  border: 0;
  margin-top: 42px;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .contact .submit {
    width: 136px;
    height: 36px;
    margin-top: 24px;
  }
}

@media only screen and (max-width: 576px) {
  .contact .submit {
    margin-top: 20px;
  }
}

.contact .submit:hover {
  background-color: #650300;
}

.footer {
  background-color: #aa0601;
}

.footer .content {
  position: relative;
  padding-top: 48px;
}

@media only screen and (max-width: 992px) {
  .footer .content {
    padding: 40px 48px 20px 48px;
  }
}

.footer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .footer .nav {
    position: absolute;
    right: 48px;
  }
}

.footer .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 992px) {
  .footer .nav-menu {
    margin-bottom: 26px;
  }
}

@media only screen and (max-width: 767px) {
  .footer .nav-menu {
    display: none;
  }
}

.footer .nav-menu li {
  margin-right: 48px;
}

.footer .nav-menu li a {
  color: #ffffff;
}

.footer .nav-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .nav-img li {
  margin-left: 32px;
}

@media only screen and (max-width: 992px) {
  .footer .nav-img li img {
    width: 24px;
    height: 24px;
  }
}

.footer .liaison-border {
  border-bottom: 1px solid #ffffff;
}

@media only screen and (max-width: 767px) {
  .footer .liaison-border {
    margin-bottom: 16px;
  }
}

.footer .liaison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.footer .liaison p {
  font-size: 36px;
  color: #ffffff;
}

@media only screen and (max-width: 992px) {
  .footer .liaison p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .footer .liaison p {
    font-size: 16px;
  }
}

.footer .liaison .phone {
  margin-right: 23px;
}

@media only screen and (max-width: 992px) {
  .footer .liaison .phone {
    width: 23px;
    height: 23px;
    margin-right: 12px;
  }
}

.footer .liaison .email {
  margin-right: 12px;
}

@media only screen and (max-width: 992px) {
  .footer .liaison .email {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .footer .copyright {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .copyright ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

@media only screen and (max-width: 767px) {
  .footer .copyright ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
  }
}

.footer .copyright ul li {
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .footer .copyright ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 8px;
  }
}

.footer .copyright ul li img {
  margin-right: 38px;
}

@media only screen and (max-width: 992px) {
  .footer .copyright ul li img {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .footer .copyright ul li img {
    width: 46px;
    height: 27px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 10%;
  }
}

.footer .copyright .text {
  margin-left: 62px;
}

@media only screen and (max-width: 992px) {
  .footer .copyright .text {
    margin-left: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .footer .copyright .text {
    margin-left: 0;
  }
}
/*# sourceMappingURL=all.css.map */