@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 微軟正黑體, "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
  font-weight: bold;
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.column .list {
  max-width: 1200px;
  margin: 0 auto;
}

.mbLevel-1 {
  margin-bottom: 8px;
}

.mbLevel-2 {
  margin-bottom: 16px;
}

.mbLevel-3 {
  margin-bottom: 24px;
}

.mbLevel-4 {
  margin-bottom: 32px;
}

.mbLevel-5 {
  margin-bottom: 40px;
}

.mbLevel-6 {
  margin-bottom: 48px;
}

.mbLevel-7 {
  margin-bottom: 56px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #aa0601;
}

@media only screen and (max-width: 375px) {
  .header {
    position: relative;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    overflow: hidden;
  }
}

.header .ham-icon {
  display: none;
  color: #ffffff;
}

@media only screen and (max-width: 375px) {
  .header .ham-icon {
    display: block;
    margin: 0 124px 0 16px;
  }
}

.header .logo {
  width: 80px;
  height: 50px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png");
  background-size: auto;
  background-repeat: no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 88px;
}

@media only screen and (max-width: 768px) {
  .header .logo {
    margin-left: 48px;
  }
}

@media only screen and (max-width: 375px) {
  .header .logo {
    width: 48px;
    height: 30px;
    background-image: url("https://upload.cc/i1/2020/04/25/qNFjUf.png");
    background-size: auto;
    background-repeat: no-repeat;
    margin: 10px 0;
  }
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 88px;
  padding: 40px 0;
}

@media only screen and (max-width: 768px) {
  .header .nav {
    margin-right: 48px;
  }
}

@media only screen and (max-width: 375px) {
  .header .nav {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    top: 100%;
    z-index: 1;
  }
}

.header .nav .list {
  background-color: #aa0601;
}

@media only screen and (max-width: 375px) {
  .header .nav .list {
    width: 375px;
  }
}

.header .nav .menu {
  font-size: 20px;
  font-weight: normal;
  margin-left: 64px;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .header .nav .menu {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 375px) {
  .header .nav .menu {
    margin-left: auto;
    text-align: center;
    border-top: 1px solid #ffffff;
    padding: 16px 0;
  }
}

.nav .active {
  max-height: 200px;
}

.banner {
  position: relative;
  height: 840px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png");
  background-size: auto;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  .banner {
    background-image: url("https://upload.cc/i1/2020/04/25/jH0crS.png");
    background-size: auto;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 375px) {
  .banner {
    background-image: url("https://upload.cc/i1/2020/04/25/Z0h7q1.png");
    background-size: auto;
    background-repeat: no-repeat;
    height: 394px;
  }
}

.banner .content {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 55%;
}

@media only screen and (max-width: 768px) {
  .banner .content {
    left: 35%;
  }
}

@media only screen and (max-width: 375px) {
  .banner .content {
    top: 40%;
    left: 20%;
  }
}

.banner .content .text {
  font-size: 36px;
  text-align: end;
  color: #650300;
}

@media only screen and (max-width: 768px) {
  .banner .content .text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .banner .content .text {
    font-size: 16px;
  }
}

.banner .content .title {
  font-size: 64px;
  color: #650300;
}

@media only screen and (max-width: 768px) {
  .banner .content .title {
    font-size: 48px;
  }
}

@media only screen and (max-width: 375px) {
  .banner .content .title {
    font-size: 32px;
  }
}

.column {
  background-color: #aa06010d;
}

.column .title {
  font-size: 48px;
  color: #650300;
  text-align: center;
  padding: 64px 0;
}

@media only screen and (max-width: 375px) {
  .column .title {
    font-size: 24px;
    padding: 32px 0;
  }
}

.column .list {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 80px;
  margin-bottom: 64px;
}

@media only screen and (max-width: 768px) {
  .column .list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 66.66667%;
  }
}

.column .list .item {
  max-width: 208px;
  text-align: center;
}

.column .list .item .img {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}

.column .list .item .list-title {
  font-size: 24px;
  color: #650300;
}

.column .list .item .text {
  font-size: 16px;
  text-align: start;
}

@media only screen and (max-width: 768px) {
  .column .list .itemaa {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/*# sourceMappingURL=all.css.map */