*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}
a {
  display: block;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
$base-margin: 8px;
$margin-level: 7;
$text-primary: #650300;
$bg-primary: #aa06010d;
$base-primary: #aa0601;
$base-secondary: #ffffff;
$font-base: 1rem;
$font-h2: (
  pc: $font-base * 4.5,
  pad: $font-base * 2,
  mobile: $font-base * 2,
);
$font-h3: (
  pc: $font-base * 4,
  pad: $font-base * 3,
  mobile: $font-base * 2,
);
$font-h4: (
  pc: $font-base * 3,
  pad: $font-base * 2,
  mobile: $font-base * 1.5,
);
$font-h5: (
  pc: $font-base * 3,
  pad: $font-base * 1.75,
  mobile: $font-base * 1.75,
);
$font-h6: (
  pc: $font-base * 1.5,
  pad: $font-base * 1.25,
  mobile: $font-base * 1.25,
);
$font-p1: (
  pc: $font-base * 2.25,
  pad: $font-base * 1.25,
  mobile: $font-base,
);
$font-p2: (
  pc: $font-base * 1.25,
  pad: $font-base,
  mobile: $font-base,
);
$font-p3: $font-base * 1.25;
$font-p4: $font-base * 0.875;
@mixin breakpoint($point) {
  @if ($point == pad) {
    @media only screen and(max-width: 992px) {
      @content;
    }
  } @else if ($point == mobile) {
    @media only screen and(max-width: 576px) {
      @content;
    }
  }
}
@mixin font-h($size) {
  @if ($size == h2) {
    font-size: map-get($font-h2, pc);
    @include breakpoint(pad) {
      font-size: map-get($font-h2, pad);
    }
    @include breakpoint(mobile) {
      font-size: map-get($font-h2, mobile);
    }
  } @else if ($size == h3) {
    font-size: map-get($font-h3, pc);
    @include breakpoint(pad) {
      font-size: map-get($font-h3, pad);
    }
    @include breakpoint(mobile) {
      font-size: map-get($font-h3, mobile);
    }
  } @else if ($size == h4) {
    font-size: map-get($font-h4, pc);
    @include breakpoint(pad) {
      font-size: map-get($font-h4, pad);
    }
    @include breakpoint(mobile) {
      font-size: map-get($font-h4, mobile);
    }
  } @else if ($size == h5) {
    font-size: map-get($font-h5, pc);
    @include breakpoint(pad) {
      font-size: map-get($font-h5, pad);
    }
    @include breakpoint(mobile) {
      font-size: map-get($font-h5, mobile);
    }
  } @else if ($size == h6) {
    font-size: map-get($font-h6, pc);
    @include breakpoint(pad) {
      font-size: map-get($font-h6, pad);
    }
    @include breakpoint(mobile) {
      font-size: map-get($font-h6, mobile);
    }
  }
}
@mixin font-p($size) {
  @if ($size == p1) {
    font-size: map-get($font-p1, pc);
    @include breakpoint(pad) {
      font-size: map-get($font-p1, pad);
    }
    @include breakpoint(mobile) {
      font-size: map-get($font-p1, mobile);
    }
  } @else if ($size == p2) {
    font-size: map-get($font-p2, pc);
    @include breakpoint(pad) {
      font-size: map-get($font-p2, pad);
    }
    @include breakpoint(mobile) {
      font-size: map-get($font-p2, mobile);
    }
  } @else if ($size == p3) {
    font-size: $font-p3;
  } @else if ($size == p4) {
    font-size: $font-p4;
  }
}
@mixin flex-base($justify-content: start, $align-items: start) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin bg($img, $width: initial, $height: initial) {
  width: $width;
  height: $height;
  background-image: url($img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@mixin absolute(
  $top: initial,
  $right: initial,
  $bottom: initial,
  $left: initial
) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}
@mixin hide-text {
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
@function col-width($col) {
  @return 100% / $col;
}

@for $i from 1 through $margin-level {
  .mbLevel-#{$i} {
    margin-bottom: ($i * $base-margin);
  }
}
%content-width {
  max-width: 1200px;
  margin: 0 auto;
}

//header
.header {
  @include flex-base(space-between, center);
  background-color: $base-primary;
  @include breakpoint(mobile) {
    position: relative;
    justify-content: center;
  }
  .ham-icon {
    display: none;
    color: $base-secondary;
    @include breakpoint(mobile) {
      display: block;
      @include absolute(initial, initial, initial, 5%);
    }
  }
  .logo {
    @include bg(
      "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png",
      80px,
      49px
    );
    @include hide-text();
    margin-left: 88px;
    @include breakpoint(pad) {
      margin-left: 48px;
    }
    @include breakpoint(mobile) {
      @include bg("https://upload.cc/i1/2020/04/25/qNFjUf.png", 48px, 30px);
      margin: 10px;
    }
  }
  .nav {
    @include flex-base(center, center);
    margin-right: 88px;
    padding: 40px 0;
    @include breakpoint(pad) {
      margin-right: 48px;
    }
    @include breakpoint(mobile) {
      @include absolute(100%);
      flex-direction: column;
      width: col-width(1);
      padding: 0px;
      z-index: 1;
    }
    .list {
      background-color: $base-primary;
      @include breakpoint(mobile) {
        width: col-width(1);
        transform: translateX(-100%);
        transition: all 0.8s;
      }
      .active {
        transform: translateX(0);
        &:hover {
          background-color: #8f0400;
        }
      }
      .menu {
        @include font-p(p3);
        margin-left: 64px;
        color: $base-secondary;
        @include breakpoint(pad) {
          margin-left: 40px;
        }
        @include breakpoint(mobile) {
          margin-left: auto;
          text-align: center;
          border-top: 1px solid $base-secondary;
          padding: 16px 0;
        }
      }
    }
  }
}

//banner
.banner {
  position: relative;
  @include bg(
    "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png",
    initial,
    840px
  );
  @include breakpoint(pad) {
    @include bg("https://upload.cc/i1/2020/04/25/jH0crS.png", initial, 840px);
  }
  @include breakpoint(mobile) {
    @include bg("https://upload.cc/i1/2020/04/25/Z0h7q1.png", initial, 394px);
  }
  .content {
    @include absolute(40%, 18%, 50%);
    @include breakpoint(mobile) {
      right: 5%;
    }
    .text {
      @include font-p(p1);
      text-align: end;
      color: $text-primary;
      font-weight: 600;
    }
    .title {
      @include font-h(h3);
      color: $text-primary;
    }
  }
}
//column
.column {
  background-color: $bg-primary;
  margin-bottom: 64px;
  @include breakpoint(pad) {
    margin-bottom: 40px;
  }
  @include breakpoint(mobile) {
    margin-bottom: 24px;
  }
  .title {
    @include font-h(h4);
    color: $text-primary;
    text-align: center;
    padding: 64px 0;
    @include breakpoint(pad) {
      padding: 40px 0 32px 0;
    }
    @include breakpoint(mobile) {
      padding: 32px 0;
    }
  }
  .list {
    @extend %content-width;
    @include flex-base(space-around);
    padding-bottom: 80px;
    @include breakpoint(pad) {
      flex-wrap: wrap;
      justify-content: space-between;
      .order-1 {
        order: 1;
      }
      .order-2 {
        order: 2;
      }
    }
    @include breakpoint(mobile) {
      justify-content: center;
    }
    .item {
      width: col-width(5.5);
      text-align: center;
      @include breakpoint(pad) {
        width: col-width(2);
        margin-bottom: 40px;
      }
      @include breakpoint(mobile) {
        width: col-width(1);
        margin-bottom: 28px;
      }
      .img {
        width: 100px;
        height: 100px;
        margin-bottom: 40px;
        @include breakpoint(pad) {
          width: 80px;
          height: 80px;
          margin-bottom: 16px;
        }
      }
      .item-title {
        @include font-h(h6);
        color: $text-primary;
        @include breakpoint(pad) {
          margin-bottom: 8px;
        }
      }
      .text {
        text-align: justify;
        display: inline-block;
        width: 208px;
      }
    }
  }
}
//product
.product {
  @extend %content-width;
  .title {
    @include font-h(h4);
    color: $text-primary;
    text-align: center;
    margin-bottom: 60px;
    @include breakpoint(pad) {
      margin-bottom: 32px;
    }
    @include breakpoint(mobile) {
      margin-bottom: 16px;
    }
  }
  .item {
    overflow: hidden;
    @include flex-base(start, center);
    margin-bottom: 24px;
    @include breakpoint(pad) {
      justify-content: center;
      margin-left: 48px;
      margin-bottom: 8px;
    }
    @include breakpoint(mobile) {
      justify-content: center;
      margin-left: 0;
    }
    .img {
      @include breakpoint(pad) {
        max-width: 411px;
        @include breakpoint(mobile) {
          max-width: 352px;
          position: relative;
        }
      }
    }
    .img-mr {
      @include breakpoint(pad) {
        margin-right: 40px;
      }
      @include breakpoint(mobile) {
        margin-right: 0;
      }
    }
    .img-icon {
      margin: 0 8px 0 24px;
      @include breakpoint(pad) {
        width: 32px;
        height: 32px;
      }
      @include breakpoint(mobile) {
        color: $base-secondary;
        display: none;
      }
    }
    .item-content {
      display: flex;
      @include breakpoint(mobile) {
        position: absolute;
      }
      .icon-sunglasses {
        @include breakpoint(mobile) {
          @include bg(
            "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/9af042262fc422f07175ee3ee88a7d1cf415a0a0/week3/icon-sun-white.svg",
            32px,
            32px
          );
          margin: 8px;
        }
      }
      .icon-optical {
        @include breakpoint(mobile) {
          @include bg(
            "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/9af042262fc422f07175ee3ee88a7d1cf415a0a0/week3/icon-diamond-white.svg",
            32px,
            25px
          );
          margin: 8px;
        }
      }
    }
    .item-reverse {
      @include flex-base(start, center);
      flex-direction: row-reverse;
      @include breakpoint(pad) {
        justify-content: center;
        flex-direction: row;
      }
      .content-reverse {
        @include flex-base(start, center);
        flex-direction: row-reverse;
        @include breakpoint(mobile) {
          position: absolute;
        }
        .icon-functional {
          @include breakpoint(mobile) {
            @include bg(
              "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/9af042262fc422f07175ee3ee88a7d1cf415a0a0/week3/icon-thunder-white.svg",
              23px,
              32px
            );
            margin: 5px 8px;
          }
        }
      }
    }
  }
  .text {
    @include font-h(h5);
    color: $base-primary;
    margin-right: 24px;
    line-height: normal;
    display: block;
    @include breakpoint(mobile) {
      color: $base-secondary;
    }
  }
}
