*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 微軟正黑體, "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}
a {
  display: block;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
$base-margin: 8px;
$margin-level: 7;
$text-primary: #650300;
$bg-primary: #aa06010d;
$base-primary: #aa0601;
$base-secondary: #ffffff;
$font-h2: (
  pc: 72px,
  pad: 32px,
  mobile: 32px,
);
$font-h3: (
  pc: 64px,
  pad: 48px,
  mobile: 32px,
);
$font-h4: (
  pc: 48px,
  pad: 32px,
  mobile: 24px,
);
$font-h5: (
  pc: 48px,
  pad: 28px,
  mobile: 28px,
);
$font-h6: (
  pc: 24px,
  pad: 20px,
  mobile: 20px,
);
$font-p1: (
  pc: 36px,
  pad: 20px,
  mobile: 16px,
);
$font-p2: (
  pc: 20px,
  pad: 16px,
  mobile: 16px,
);
$font-p3: 20px;
$font-p4: 14px;
@mixin breakpoint($point) {
  @if ($point == pad) {
    @media only screen and (max-width: 768px) {
      @content;
    }
  } @else if ($point == mobile) {
    @media only screen and (max-width: 375px) {
      @content;
    }
  }
}
@mixin font-h($size) {
  @if ($size == h2) {
    font-size: map-get($font-h2, pc);
    @include breakpoint(pad) {
      font-size: map-get($font-h2, pad);
    }
    @include breakpoint(mobile) {
      font-size: map-get($font-h2, mobile);
    }
  } @else if ($size == h3) {
    font-size: map-get($font-h3, pc);
    @include breakpoint(pad) {
      font-size: map-get($font-h3, pad);
    }
    @include breakpoint(mobile) {
      font-size: map-get($font-h3, mobile);
    }
  } @else if ($size == h4) {
    font-size: map-get($font-h4, pc);
    @include breakpoint(pad) {
      font-size: map-get($font-h4, pad);
    }
    @include breakpoint(mobile) {
      font-size: map-get($font-h4, mobile);
    }
  } @else if ($size == h5) {
    font-size: map-get($font-h5, pc);
    @include breakpoint(pad) {
      font-size: map-get($font-h5, pad);
    }
    @include breakpoint(mobile) {
      font-size: map-get($font-h5, mobile);
    }
  } @else if ($size == h6) {
    font-size: map-get($font-h6, pc);
    @include breakpoint(pad) {
      font-size: map-get($font-h6, pad);
    }
    @include breakpoint(mobile) {
      font-size: map-get($font-h6, mobile);
    }
  }
}
@mixin font-p($size) {
  @if ($size == p1) {
    font-size: map-get($font-p1, pc);
    @include breakpoint(pad) {
      font-size: map-get($font-p1, pad);
    }
    @include breakpoint(mobile) {
      font-size: map-get($font-p1, mobile);
    }
  } @else if ($size == p2) {
    font-size: map-get($font-p2, pc);
    @include breakpoint(pad) {
      font-size: map-get($font-p2, pad);
    }
    @include breakpoint(mobile) {
      font-size: map-get($font-p2, mobile);
    }
  } @else if ($size == p3) {
    font-size: $font-p3;
  } @else if ($size == p4) {
    font-size: $font-p4;
  }
}
@mixin flex-base($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin bg($img) {
  background-image: url($img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@function col-width($col) {
  @return 100% / $col;
}

@for $i from 1 through $margin-level {
  .mbLevel-#{$i} {
    margin-bottom: ($i * $base-margin);
  }
}
%content-width {
  max-width: 1200px;
  margin: 0 auto;
}
//header
.header {
  max-width: 100%;
  @include flex-base(space-between, center);
  background-color: $base-primary;
  @include breakpoint(mobile) {
    position: relative;
    justify-content: start;
  }
  .ham-icon {
    display: none;
    color: $base-secondary;
    @include breakpoint(mobile) {
      display: block;
      margin: 0 124px 0 16px;
    }
  }
  .logo {
    width: 80px;
    height: 48px;
    @include bg(
      "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png"
    );
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 88px;
    @include breakpoint(pad) {
      margin-left: 48px;
    }
    @include breakpoint(mobile) {
      width: 48px;
      height: 30px;
      @include bg("https://upload.cc/i1/2020/04/25/qNFjUf.png");
      margin: 10px 0;
    }
  }
  .nav {
    @include flex-base(center, center);
    margin-right: 88px;
    padding: 40px 0;
    @include breakpoint(pad) {
      margin-right: 48px;
    }
    @include breakpoint(mobile) {
      position: absolute;
      flex-direction: column;
      width: 100%;
      padding: 0px;
      top: 100%;
      z-index: 1;
    }
    .list {
      background-color: $base-primary;
      @include breakpoint(mobile) {
        width: 100%;
        transform: translateX(-100%);
        transition: all 0.8s;
        &:hover {
          background-color: #8f0400;
        }
      }
    }
    .active {
      transform: translateX(0);
    }
    .menu {
      @include font-p(p3);
      margin-left: 64px;
      color: $base-secondary;
      @include breakpoint(pad) {
        margin-left: 40px;
      }
      @include breakpoint(mobile) {
        margin-left: auto;
        text-align: center;
        border-top: 1px solid $base-secondary;
        padding: 16px 0;
      }
    }
  }
}

//banner
.banner {
  position: relative;
  height: 840px;
  @include bg(
    "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png"
  );
  @include breakpoint(pad) {
    @include bg("https://upload.cc/i1/2020/04/25/jH0crS.png");
  }
  @include breakpoint(mobile) {
    @include bg("https://upload.cc/i1/2020/04/25/Z0h7q1.png");
    height: 394px;
  }
  .content {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 55%;
    @include breakpoint(pad) {
      left: 35%;
    }
    @include breakpoint(mobile) {
      top: 40%;
      left: 20%;
    }
    .text {
      @include font-p(p1);
      text-align: end;
      color: $text-primary;
    }
    .title {
      @include font-h(h3);
      color: $text-primary;
    }
  }
}
//column
.column {
  background-color: $bg-primary;
  margin-bottom: 64px;
  @include breakpoint(pad) {
    margin-bottom: 40px;
  }
  @include breakpoint(mobile) {
    margin-bottom: 24px;
  }
  .title {
    @include font-h(h4);
    color: $text-primary;
    text-align: center;
    padding: 64px 0;
    @include breakpoint(pad) {
      padding: 40px 0 32px 0;
    }
    @include breakpoint(mobile) {
      padding: 32px 0;
    }
  }
  .list {
    @extend %content-width;
    margin: 0 auto;
    @include flex-base(space-around, center);
    padding-bottom: 80px;
    @include breakpoint(pad) {
      flex-wrap: wrap;
      justify-content: space-between;
      width: col-width(1.5);
      .order-1 {
        order: 1;
      }
      .order-2 {
        order: 2;
      }
    }
    .item {
      max-width: 208px;
      text-align: center;
      @include breakpoint(mobile) {
        margin-bottom: 28px;
      }
      .img {
        max-width: 100px;
        height: 100px;
        margin-bottom: 40px;
        @include breakpoint(pad) {
          width: 80px;
          height: 80px;
          margin-bottom: 16px;
        }
      }
      .list-title {
        @include font-h(h6);
        color: $text-primary;
        @include breakpoint(pad) {
          margin-bottom: 8px;
        }
      }
      .text {
        text-align: start;
      }
    }
  }
}

.product {
  @extend %content-width;
  .item {
    @include flex-base(start, center);
    margin-bottom: 24px;
    @include breakpoint(pad) {
      margin-left: 48px;
      margin-bottom: 8px;
    }
    @include breakpoint(mobile) {
      justify-content: center;
      margin-left: 0;
    }
  }
  .item-flex {
    display: flex;
    @include breakpoint(mobile) {
      position: absolute;
    }
  }
  .item-reverse {
    @include flex-base(start, center);
    flex-direction: row-reverse;
    @include breakpoint(pad) {
      flex-direction: row;
    }
  }
  .content-reverse {
    display: flex;
    flex-direction: row-reverse;
    @include breakpoint(mobile) {
      position: absolute;
    }
  }
  .img {
    @include breakpoint(pad) {
      width: 410px;
      height: 168px;
      @include breakpoint(mobile) {
        width: 352px;
        height: 134px;
        position: relative;
      }
    }
  }
  .img-icon {
    margin: 0 8px 0 24px;
    @include breakpoint(pad) {
      width: 32px;
      height: 32px;
    }
    @include breakpoint(mobile) {
      color: $base-secondary;
    }
  }
  .img-mr {
    @include breakpoint(pad) {
      margin-right: 40px;
    }
    @include breakpoint(mobile) {
      margin-right: 0;
    }
  }
  .title {
    @include font-h(h4);
    color: $text-primary;
    text-align: center;
    margin-bottom: 60px;
    @include breakpoint(pad) {
      margin-bottom: 32px;
    }
    @include breakpoint(mobile) {
      margin-bottom: 16px;
    }
  }
  .text {
    @include font-h(h5);
    color: $base-primary;
    margin-right: 24px;
    line-height: normal;
    @include breakpoint(mobile) {
      color: $base-secondary;
    }
  }
}
