$text-primary: #650300;
$bg-primary: #aa06010d;
$base-primary: #aa0601;
$base-secondary: #ffffff;
$font-h2: (
  pc: 72px,
  pad: 32px,
  mobile: 32px,
);
$font-h3: (
  pc: 64px,
  pad: 48px,
  mobile: 32px,
);
$font-h4: (
  pc: 48px,
  pad: 32px,
  mobile: 24px,
);
$font-h5: (
  pc: 48px,
  pad: 28px,
  mobile: 28px,
);
$font-h6: (
  pc: 24px,
  pad: 20px,
  mobile: 20px,
);
$font-p1: (
  pc: 36px,
  pad: 20px,
  mobile: 16px,
);
$font-p2: (
  pc: 20px,
  pad: 16px,
  mobile: 16px,
);
$font-p3: 20px;
$font-p4: 14px;
