//banner
.banner {
  position: relative;
  @include bg(
    "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png",
    initial,
    840px
  );
  @include breakpoint(pad) {
    @include bg("https://upload.cc/i1/2020/04/25/jH0crS.png", initial, 840px);
  }
  @include breakpoint(mobile) {
    @include bg("https://upload.cc/i1/2020/04/25/Z0h7q1.png", initial, 394px);
  }
  .content {
    @include absolute(40%, 18%, 50%);
    @include breakpoint(mobile) {
      right: 5%;
    }
    .text {
      @include font-p(p1);
      text-align: end;
      color: $text-primary;
      font-weight: 600;
    }
    .title {
      @include font-h(h3);
      color: $text-primary;
    }
  }
}
//column
.column {
  background-color: $bg-primary;
  margin-bottom: 64px;
  @include breakpoint(pad) {
    margin-bottom: 40px;
  }
  @include breakpoint(mobile) {
    margin-bottom: 24px;
  }
  .title {
    @include font-h(h4);
    color: $text-primary;
    text-align: center;
    padding: 64px 0;
    @include breakpoint(pad) {
      padding: 40px 0 32px 0;
    }
    @include breakpoint(mobile) {
      padding: 32px 0;
    }
  }
  .list {
    @extend %content-width;
    @include flex-base(space-around);
    padding-bottom: 80px;
    @include breakpoint(pad) {
      flex-wrap: wrap;
      justify-content: space-between;
      .order-1 {
        order: 1;
      }
      .order-2 {
        order: 2;
      }
    }
    @include breakpoint(mobile) {
      justify-content: center;
    }
    .item {
      text-align: center;
      @include breakpoint(pad) {
        width: 50%;
        margin-bottom: 40px;
      }
      @include breakpoint(mobile) {
        width: 100%;
        margin-bottom: 28px;
      }
      .img {
        width: 100px;
        height: 100px;
        margin-bottom: 40px;
        @include breakpoint(pad) {
          width: 80px;
          height: 80px;
          margin-bottom: 16px;
        }
      }
      .item-title {
        @include font-h(h6);
        color: $text-primary;
        @include breakpoint(pad) {
          margin-bottom: 8px;
        }
      }
      .text {
        text-align: justify;
        display: inline-block;
        width: 208px;
      }
    }
  }
}
//classic
.classic {
  @extend %content-width;
  margin-bottom: 80px;
  .title {
    @include font-h(h4);
    color: $text-primary;
    text-align: center;
    margin-bottom: 60px;
    @include breakpoint(pad) {
      margin-bottom: 32px;
    }
    @include breakpoint(mobile) {
      margin-bottom: 16px;
    }
  }
  .item {
    @include flex-base(start, center);
    margin-bottom: 24px;
    @include breakpoint(pad) {
      justify-content: center;
      margin-bottom: 8px;
    }
    @include breakpoint(mobile) {
      justify-content: center;
      margin: 0 12px;
    }
    .img {
      width: 60%;
      @include breakpoint(pad) {
        width: 50%;
        @include breakpoint(mobile) {
          width: 100%;
          position: relative;
        }
      }
    }
    .img-icon {
      margin: 0 8px 0 24px;
      @include breakpoint(pad) {
        width: 32px;
        height: 32px;
      }
      @include breakpoint(mobile) {
        color: $base-secondary;
        display: none;
      }
    }
    .item-content {
      width: 30%;
      display: flex;
      @include breakpoint(mobile) {
        width: 100%;
        justify-content: center;
        position: absolute;
      }
    }
    .icon-optical {
      @include breakpoint(mobile) {
        @include bg(
          "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/9af042262fc422f07175ee3ee88a7d1cf415a0a0/week3/icon-diamond-white.svg",
          32px,
          25px
        );
        margin: 8px;
      }
    }
    .icon-functional {
      @include breakpoint(mobile) {
        @include bg(
          "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/9af042262fc422f07175ee3ee88a7d1cf415a0a0/week3/icon-thunder-white.svg",
          23px,
          32px
        );
        margin: 5px 8px;
      }
    }
  }
  .item-reverse {
    @include flex-base(start, center);
    flex-direction: row-reverse;
    @include breakpoint(pad) {
      flex-direction: row;
      justify-content: center;
    }
    .content-reverse {
      width: 30%;
      @include flex-base(start, center);
      flex-direction: row-reverse;

      @include breakpoint(mobile) {
        width: 100%;
        justify-content: center;
        position: absolute;
      }
      .icon-sunglasses {
        @include breakpoint(mobile) {
          @include bg(
            "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/9af042262fc422f07175ee3ee88a7d1cf415a0a0/week3/icon-sun-white.svg",
            32px,
            32px
          );
          margin: 8px;
        }
      }
    }
  }
  .text {
    @include font-h(h5);
    color: $base-primary;
    margin-right: 24px;
    line-height: normal;
    display: block;
    @include breakpoint(mobile) {
      color: $base-secondary;
    }
  }
}
.joint {
  @include bg(
    "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png",
    initial,
    2162px
  );
  .joint-title {
    @include font-h(h4);
    color: $base-secondary;
    text-align: center;
    padding: 64px 0 60px 0;
    @include breakpoint(pad) {
      padding: 40px 0 32px 0;
    }
    @include breakpoint(mobile) {
      padding: 24px 0 16px 0;
    }
  }
  .img-main {
    display: flex;
    justify-content: center;
    margin: 0 48px 60px;
    @include breakpoint(mobile) {
      margin: 0 24px;
    }
    .img-right {
      margin-left: 8px;
      .img-bottom {
        display: flex;
        .btn {
          padding: 0px 84px 0px 32px;
          background-color: $base-secondary;
          max-width: 315px;
          a {
            @include font-h(h2);
            color: $base-primary;
          }
        }
      }
    }
  }
  .module {
    @extend %content-width;
    display: flex;
    .module-title {
      @include font-h(h2);
      color: $base-primary;
    }
    .img-dobule {
      @include bg(
        "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-8.png",
        585px,
        592px
      );
      @include flex-base(center, center);
    }
    .img-youth {
      @include bg(
        "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-9.png",
        585px,
        592px
      );
      @include flex-base(center, center);
    }
    .img-mr {
      margin-right: 30px;
    }
  }
}
